body, html {
	height: 100%;
	width: 100%;
}

.portada {
	background-color:#c3a87f;
	background-image:url(../img/intro-bg2.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	background-size:cover;

	}
body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}


	
.nobullet {
	list-style:none;
	margin-left:0px;
	padding-left:0px;}
	
	
.anchoTotal {
	width:100%;
	}
	
	
	
.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {

	padding-top: 20%; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 0;


	color: #f8f8f8;
	
	/* background: url(../img/intro-bg2.jpg) no-repeat center top; */
	background-size: cover;
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 34%;
	
}

.intro-message > h1 {
	margin: 0;
	margin-top:6px;
	margin-bottom:0px;
	padding-bottom:0px;
	font-size: 3em;
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	margin-top:6px;
	padding-top:0px!important;

}

@media (max-width: 767px) {
	.intro-message {
		padding-top: 35%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}
	

	.intro-message > h3 {
		margin-top:6px;

	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 40px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 40px 0;
}


.content-section-c {
	border-top: 1px solid #FBECBF;
	border-bottom: 1px solid #FBECBF;
	padding: 40px 0;
}

.section-heading {
	margin-bottom: 22px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 20px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.png) no-repeat center center;
	background-size: cover;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}

}

@media (max-width: 767px) {
.intro-message > h3 {
		margin-top:3px;
		padding-top:3px;
	}	

	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	background-color: #f8f8f8;
	padding: 5px 0;
}

p.copyright {
	margin: 15px 0 0;
}






.logo {
	position:absolute;
	right:3px;
	}

.cabecera {
	background-color:#189b02;
	border-bottom: 1px solid #060;
	height:32px;
	}
	
.footer {
	height:54px;
	width:100%;
	position:fixed;
	bottom:0px;
	background-color:#000;
	color:#FFF;
	}
	
	
.padding-left-12 {
	padding-left:12px;
	}	
.margin-top-00 {
	margin-top:15%;
	}
	
.margin-top-50 {
	margin-top:50px;
	}
	
.margin-top-60 {
	margin-top:60px;
	}
	
.margin-top-90 {
	margin-top:90px;
	}
	
.margin-top-100 {
	margin-top:100px;
	}		
	
.margin-top-120 {
	margin-top:120px;
	}				


	



@media (max-height:420px) {	

.intro-message > h3 {
		margin-top:3px;
		padding-top:3px;
	}	

.margin-top-menos {
	 margin-top:0px;
	 }
.ocultar {
	display:none;}


.footer {
	height:56px;
	}

 
}
	

@media (max-height:480px) {	


.intro-message > h3 {
		margin-top:3px;
		padding-top:3px;
	}	


.margin-menos {
	margin-top:-20px!important;}
	

}

	
@media (max-height:600px) {	


.intro-message > h3 {
		margin-top:3px;
		padding-top:3px;
	}	


.margin-menos {
	margin-top:-10px!important;}
	


}




@media screen and (orientation:landscape) {
	    .intro-header {
	padding-top: 0%;

	
}


.intro-message > h3 {
		margin-top:3px;
		padding-top:3px!important;

	}	




}
	
@media (min-width:600px) and (max-width:767px) {	

.intro-header {
	
	margin-top:0px;
}
.margin-menos {
	margin-top:-200px!important;}
	

.ocultar {
	display:none;}
}



@media (min-width:768px) and (max-width:1025px) {	

.intro-header {

	margin-top:0px;
}
.margin-menos {
	margin-top:-260px!important;}
	

.ocultar {
	display:none;}
}


@media (min-width:1026px) and (max-width:1440px)   {	

.intro-header {

	margin-top:0px;
}
.margin-menos {
	margin-top: -5%!important;}
.ocultar {
	display:none;}
.cabecera {
	height:9%;}
}




@media (min-width:1441px) and (max-width:1920px)   {	

.intro-header {

	margin-top:0px;
}
.margin-menos {
	margin-top:0px!important;}
.ocultar {
	display:none;}
.cabecera {
	height:10%;}
}


@media (min-width:1279px) and (max-width:1281px)   {	

.intro-header {

	margin-top:0px;
}
.margin-menos {
	margin-top:-260px!important;}
.ocultar {
	display:none;}
.cabecera {
	height:10%;}
}


@media (min-width:1365px) and (max-width:1367px)   {	

.intro-header {

	margin-top:0px;
}
.margin-menos {

.ocultar {
	display:none;}
.cabecera {
	height:10%;}
}


h3 {
	padding-top:1px!important;
	padding-bottom:1px!important;
	line-height:0.5em;
	}
	

h1 {
	font-size:2em!important;
	padding-top:1px!important;
	padding-bottom:1px!important;
	margin-top:1px!important;
	margin-bottom:1px!important;
	line-height:0.5em;
-webkit-margin-before: 0.2em;
-webkit-margin-after: 0.2em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
	}
	
	

h2 {
	font-size:1.6em!important;
	margin-top:12px;
	margin-bottom:12px;

	}			
	

	
.margin-top-200 {
	margin-top:300px!important;
	}
	
	
@media (min-width:1280px)    {	

.intro-message > h1 {
	margin-top:15px!important;
}

.intro-message > h3 {
		margin-top:12px;
		
	}	

}